.alert {
    text-align: center;
}
.data {
    padding: 0;
    text-align: center;
}
.data img {
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}
.name {
    font-weight: 500;
}
.data .caption {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    color:  #d39e00;
    font-style: italic;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.card{
    background-color: #EFEFE7;
    width: 100%;
}
.card-header {
    background-color: #3c948b;
}

.data > div {
    margin: 10px;
    padding: 10px;
}
.control {
    text-align: center;
    display: table;
}
.tableCell{
    font-size: 20px;
    margin-top: 5px;
    display: block;
    cursor: pointer;
}
.control span {
    font-size: 20px;
    margin-top: 5px;
    display: block;
    cursor: pointer;
}
.flex-container {
    display: flex;
    z-index: 1000;
}

.data.caption :hover {
    cursor: pointer;
}  

@media (max-width: 544px) {  
  .data p {
      font-size: 10px;
  }
  .data > div {
    margin: 5px;
    padding: 0px;
  }
}

