.bck-grnd{
    background-color: #EFEFE7;
    height: auto !important;
    min-height: 100%;
}

header {
    text-align: center;
    background-color: #3F3F3F;
    color: black;
}
a {
    color: blanchedalmond;
}
footer {
    padding: 16px 0;
    background-color: #3C948B;
    color: #fff;
  }
  