.search {
    text-align: center;
    margin-bottom: 5px;
    margin-top:  5px;
    background-color: #EFEFE7;
    
}
.search > input {
    border-radius: 6px;
    box-shadow: none;
    padding: 5px;
    width: 50%;
}
.loader {
    text-align: center;
    margin-top: 50px;
}


  